@use '../styles/variables' as *;

.about {
  width: 100%;

  &_desc {
    @include blur-bg;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 1.7rem;
      text-align: center;
    }

    img {
      width: 75vw;
      margin-top: 12px;
      padding-left: 12px;
    }
  }

  &_jobs {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin: 10px;
      font-size: 24px;
    }

    svg {
      margin-bottom: 20px;
      height: 24px;
    }
  }
}

@media (min-width: $bp-tablet) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_desc {
      &_top {
        padding-inline: 50px;
      }
      img {
        width: 30vw;
      }
    }

    &_jobs {
      svg {
        color: $color-purple;
      }
    }
  }
}