@use '../styles/variables' as *;

footer {
  text-align: center;
  margin: 40px 0 20px 0;

  div {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    
    p {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    svg {
      fill: $color-white;
      &:hover {
        fill: $color-purple;
      }
    }
  }
}