@use '../styles/variables' as *;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 50vh;
  margin-top: 20px;

  &_titles {
    h1 {
      font-size: 3.5rem;
      margin: 10px 0;
    }
    h2 {
      font-size: 2rem;
      margin: 0;
    }
  }

  &_contact {
    button {
      background: transparent;
      border: none;
      box-shadow: 3px 4px 6px black;
      border-radius: 16px;
      padding: 8px 20px;
      color: $color-white;
      transition: all 0.3s ease-out;
      margin-bottom: 16px;
      &:hover {
        transform: scale(110%);
      }
    }
    .hero_icon {
      margin-inline: 4px;
      fill: $color-white;
      &:hover {
        fill: $color-dark;
      }
    }
  }
}

@media (min-width: $bp-tablet) {
  .hero {
    margin-top: 80px;
    height: 30rem;
    justify-content: center;
    &_titles {
      h1 {
        span {        
          color: $color-purple-dark;
        }
      }
    }
    button {
      margin-top: 20px;
    }
    .hero_icon {
      &:hover {
        fill: $color-purple;
      }
    }
  }
}