@use '../styles/variables' as *;

nav {
  position: relative;
  color: $color-white;
  font-size: 1rem;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;

  .navbar_mobile {
    background-color: $color-purple-dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 20px;
    a {
      padding-block: 12px;
      &:hover {
        color: $color-pink-dark;
      }
    }
  }

  .menu_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: $color-white;
    margin-top: 12px;
    background: transparent;
    border: none;
  }

  .navbar_desktop {
    display: none;
  }
}

@media (min-width: $bp-tablet) {
  nav {
    padding-top: 0;
    .menu_icon {
      display: none;
    }

    .navbar_desktop {
      display: flex;
      justify-content: center;
      position: fixed;
      box-shadow: 0px 1px 10px $color-black;
      z-index: 2;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(5px);
      padding-block: 20px;
      width: 100vw;
      a {
        padding-inline: 20px;
        font-size: 18px;
        color: $color-purple-dark;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: $color-purple-dark;
          transition: width 0.3s ease, left 0.3s ease;
        }
        &:hover {     
          &::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}
