@use '../styles/variables' as *;

.skills {
  &_container {
    @include blur-bg;
    padding: 20px 20px 10px 20px;

    .skills_tabs {
      display: flex;
      justify-content: center;
      gap: 20px;

      button {
        @include button-pink
      }
    }

    .skills_content {
      margin: 30px 0 20px 0;
      h3 {
        text-align: center;
      }
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        li {
          padding-inline: 2px;

          &:hover {
            color: $color-dark;
          }
        }
      }

      .learning {
        text-align: center;
        h3 {
          font-size: 1.2rem;
          margin: 20px 0 10px 0;
          border-bottom: solid 2px $color-purple;
          width: fit-content;
          margin-inline: auto;
          
        }
        p {
          margin: 0;
        }
      }
    }
  }
}
